<!DOCTYPE html>
<html>
  <head>
    <title>Macaroons Middleware for Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Macaroon generation result</h1>
    <% for(var i=0; i<auth_macaroons.length; i++) { %>
    	<p>Macaroon info</p>
    	<p><%= auth_macaroons[i] %></p>
    <% } %>
  </body>
</html>
