<!DOCTYPE html>
<html>
  <head>
    <title>Macaroons Middleware for Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Macaroon generation result</h1>
    <% for(var key in auth_macaroons) { %>
    	<% 	 if (auth_macaroons.hasOwnProperty(key)) { %>
    		<p>Macaroon info</p>
    		<p><%= auth_macaroons[key] %></p>
    	<% } %>
    <% } %>
  </body>
</html>
