<!DOCTYPE html>
<html>
  <head>
    <title>Macaroons Middleware for Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Macaroons Middleware for Express</h1>
    <p>Macaroons generation</p>
    <a href="/login">Generate Macaroon </a>
    <br><br>

    <p>Macaroons verification</p>
    <a href="/verify">Verify</a>
  </body>
</html>
