<!DOCTYPE html>
<html>
  <head>
    <title>Macaroons Middleware for Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Logout</h1>
    <form action="/logout" method="post">
      <input type="hidden" name="userId" value="test">
      Logout: <input type="submit" value="Logout">
    </form>
</html>
