<!DOCTYPE html>
<html>
  <head>
    <title>Macaroons Middleware for Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Macaroon verification result</h1>
    <p>Serialized macaroon</p>
    <p><%= macaroon_serial %></p>
    <p>Macaroon info</p>
    <p><%= macaroon_info %></p>
    <p>is valid?</p>
    <p><%= valid %></p>
  </body>

</html>
